/cache/
/Cache/
/Dinamic/
/doc/
/MyFiles/
/node_modules/
/Plugins/
/vendor/
.DS_Store
.htaccess
config.php
config-mysql.php
config-postgresql.php
generateDoc.sh
package-lock.json
*.cache
*.lock
error.log
# Eclipse
.buildpath
.project
.settings
/Config/
# netbeans
/nbproject/

# phpstorm
/.idea/

# vscode
.vscode
*.code-workspace
.history
main_spidercodeapp-cron.err.log
supervisord.pid
